.containersection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerhead {
    display: flex;
    max-width: 1240px;
    width: 100%;
    justify-content: space-between;
}

.containerhost {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column;
}

.containercollapse {
    display: flex;
    max-width: 1240px;
    width: 100%;
    padding: 20px 0;
}

.containerdesc {
    width: 100%;
    padding-right: 20px;
}

.containerequip {
    width: 100%;
    padding-left: 20px;
}

.titlelocalisation {
    display: flex;
    flex-direction: column;
}

.titlelogement {
    font-size: 36px;
}

.localisation {
    font-size: 18px;
}

.host {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imghost {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.tags-wrapper {
    padding: 15px 0;
    display: flex;
    gap: 15px;
}

.tags {
    background-color: #ff6060;
    border-radius: 25px;
    color: white;
    padding: 5px 20px;
}

.liste {
    list-style-type: none;
}

.content {
    height: 200px;
}

@media screen and (max-width: 768px ) {
    .titlelogement {
        font-size: 18px;
    }
    
    .localisation {
        font-size: 14px;
    }

    .tags-wrapper {
        font-size: 10px;
    }

    .containerhead {
        flex-direction: column;
    }

    .containerhost {
        flex-direction: row-reverse;
        justify-content: inherit;
    }

    .name {
        font-size: 12px;
    }

    .imghost {
        width: 32px;
        height: 32px;
    }
    
    .containercollapse {
        flex-direction: column;
        gap: 20px;
    }

    .containerdesc {
        padding: 0 10px;
    }
    
    .containerequip {
        padding: 0 10px;
    }
}