.containerCollapse {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin: 30px;
}

.containercol {
    max-width: 1024px;
    width: 100%;
}


.title {
    background-color: #ff6060;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 15px;
    width: 100%;
}

.title img {
    float: right;
    position: relative;
    top: 5px;
}

.content {
    background: #f7f7f7;
    border-radius: 5px;
    color: #ff6060;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.7rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 18px 21px;
}